{% extends 'base/base.html' %}

{% block main %}


<div class="row">
  <h2>Products</h2>
</div>

<div class="row">
  <div class="col-6">
    {% for i in products %}
    <div class="card ">

      <div class="card-header">{{i.category}}</div>


      <div class="card-body ">
        <h5 class="card-title">{{i.title}}</h5>
        {{i.text}}
      </div>

      <div class="card-footer">
        <a href="/admin/delete/product/{{i.id}}" class="btn btn-danger">delete</a><a href="/admin/update/product/{{i.id}}" class="btn btn-primary">update</a>
      </div>

    </div>
    {% endfor %}
  </div>
  <div class="col-6">
    <div class="card">
      <form action="/admin/products" class='card-body' method="post">
        {% csrf_token %}
        </br>
        <input type="text" name='title' class="form-control" placeholder="title">
        </br>
        <textarea name="text" class="form-control" id="" cols="30" rows="10" placeholder="text"></textarea>
        </br>
        <select name="category" class='form-select' id="">
          <option value="">Select category</option>
          {% for i in category %}
          <option value="{{ i.id }}">{{i.name}}</option>
          {% endfor %}
        </select>
        </br>
        <button class="btn btn-primary">add product</button>
      </form>
    </div>

  </div>
</div>




{% endblock %}