{% extends 'base/base.html' %}

{% block main %}


    <h2>Welcome to admin panel</h2>
    <div class="card col-6">
        <div class="card-body">
          <h5 class="card-title">All users</h5>
          <h6 class="card-subtitle mb-2 text-muted">about User</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text"><a href="/admin/users" class="btn btn-primary">See</a></p>
         
        </div>
    </div>
    <div class="card col-6">
      <div class="card-body">
        <h5 class="card-title">All Categories</h5>
        <h6 class="card-subtitle mb-2 text-muted">about Categories</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text"><a href="/admin/categories" class="btn btn-primary">See</a></p>
       
      </div>
    </div>

    <div class="card col-6">
      <div class="card-body">
        <h5 class="card-title">All Products</h5>
        <h6 class="card-subtitle mb-2 text-muted">about Product</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text"><a href="/admin/products" class="btn btn-primary">See</a></p>
       
      </div>
    </div>

    
{% endblock %}